.chart {
  background: var(--chart-bg);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: 16px;
  padding: 16px;
}

svg text {
  fill: var(--text)
}

.MuiChartsAxis-tickLabel,
.MuiChartsAxis-label,
.MuiChartsLegend-root,
.MuiChartsTooltip-root {
  color: var(--text) !important
}