.results-viewer {
  display: flex;
  flex-direction: column;
  padding: 18px;
  border: 1px solid var(--border);
  border-radius: 12px;
}

.result-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  height: 65vh;
  width: 100%;
  overflow-y: auto;
}

@media (max-width: 790px) {
  .results-viewer {
    display: flex;
    flex-direction: row;
  }

  .result-list {
    height: 100%;
  }
}